body {
   background-color: #000000;
   color: #FFFFFF; 
   font-family: Arial;
   margin: 0px;
}

.container {
    width: 100%;
    margin: 0px;
    left: 0px;
    top: 0px;
}

.mainButtons {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #DC191B;
}

#allArticles, #excitingArticles {
    color: #FFFFFF;
    background-color: #DC191B;
    font-size: 2em;
    font-family: Arial;
    border-width: 0px;
    padding: 5px;
    height: 50px;
}

#allArticles:active,#allArticles:hover, #excitingArticles:active, #excitingArticles:hover {
    background-color: rgb(177, 20, 23);
}

.exciteButton {
    color: #FFFFFF;
    background-color: #DC191B;
    font-size: 1.5em;
    font-family: Arial;
    border-width: 0px;
    padding: 5px;
}

.articleList {
    text-align: center;
    margin: 7px;
}

.article {
    color: #000000;
    background-color: #ededed;
    width: 70%;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

a:link {
    color: #DC191B;
}

a:visited {
    color: #618685;
}